<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer class="footer">
  <div>
    <h3>Contact Us</h3>
    <ul>
      <li>Feedback: <a href="mailto:kanakkaletha.pf@gmail.com?subject=Feedback">Feedback</a></li>
      <li>Phone: <a href="tel:+918104046626">+91 8104-046-626</a></li>
      <li>Email: <a href="mailto:kanakkaletha.pf@gmail.com">kanakkaletha.pf@gmail.com</a></li>

    </ul>
  </div>
  <div>
    <h3>Follow Us</h3>
    <ul>
      <li><a href="https://www.linkedin.com/in/kanak-kaletha"><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>
</footer>
